

.page.theme_light {
  --accent_color: #ffc2e6;
  --main_color: #ff8dcb;
  --paragraph_font_color: #353430;
  --bg_color: #fff1f7;
  --font_header_color: #353430;
  --header_shadow_color: #ff0700;
  --bg_image: url(../images/cover-image-light.png);
  --button_color: #353430;
  --button_outline_color: rgba(50, 49, 45, 0.4);
  --mh_shadow_color: #ff8dcb;
  --theme_header_color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent_color: #ffc2e6;
    --main_color: #ff8dcb;
    --paragraph_font_color: #353430;
    --bg_color: #fff1f7;
    --font_header_color: #353430;
    --header_shadow_color: #ff0700;
    --bg_image: url(../images/cover-image-light.png);
    --button_color: #353430;
    --button_outline_color: rgba(50, 49, 45, 0.4);
    --mh_shadow_color: #ff8dcb;
    --theme_header_color: #353430;

  .decorative_sign {
      display: none;
  }
    /* Дублируем переменные светлой темы */
  }

  @media (width >= 1024px) {
    .theme_auto {
      --mh_shadow_color: #ff0700;
    }
  }
}

.page.theme_light .decorative_sign {
  display: none;
}

@media (width >= 1024px) {
  .page.theme_light {
    --mh_shadow_color: #ff0700;
  }
}

