/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* Остальные стили */

@media (prefers-color-scheme: light) {
  :root {
    --accent_color: #ffc2e6;
    --main_color: #ff8dcb;
    --paragraph_font_color: #353430;
    --bg_color: #fff1f7;
    --font_header_color: #353430;
    --header_shadow_color: #ff0700;
    --bg_image: url(../images/cover-image-light.png);
    --button_color: #353430;
    --button_outline_color: rgba(50, 49, 45, 0.4);
    --mh_shadow_color: #ff8dcb;
    --theme_header_color: #353430;
    /* Дублируем переменные светлой темы */
  }
}

.decorative_sign {
  display: none;
}

/* Остальные стили */

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя*/
  --accent_color: #ffc2e6;
  --main_color: #ff8dcb;
  --paragraph_font_color: #353430;
  --bg_color: #fff1f7;
  --font_header_color: #353430;
  --header_shadow_color: #ff0700;
  --bg_image: url(../images/cover-image-light.png);
  --button_color: #353430;
  --button_outline_color: rgba(50, 49, 45, 0.4);
  --mh_shadow_color: #ff8dcb;
  --theme_header_color: #353430;
}

@media (width >= 1024px) {
  .page.theme_light {
    --mh_shadow_color: #ff0700;
  }
}

@media (width >= 768px) {
  :root {
    --main_header_size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
