/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg_color);
  color: var(--paragraph_font_color);
  min-width: 100%;
  background-image: var(--bg_image);
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  padding: 10px;
  font-family: IBM Plex Mono, monospace, sans-serif;
  font-size: 18px;
  font-weight: 400;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.decorative_sign {
  position: absolute;
  color: var(--button_color);
  top: 10px;
  right: 38px;
}

.decorative_sign::after {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  right: -19px;
  background-color: var(--button_color);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--button_color);
}

.header {
  min-height: 668px;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.decorated-zone::before {
  color: var(--button_color);
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--button_color);
  border-inline-end: 1px solid var(--button_color);
  right: 10px;
  top: 10px;
}

.decorated-zone::after {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--button_color);
  border-inline-start: 1px solid var(--button_color);
  left: 10px;
  bottom: 10px;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 10px;
  width: 70px;
}

.header__theme-menu-item {
  width: 70px;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--button_color);
  text-transform: lowercase;
  border: none;
  width: 69px;
  height: 26px;
  gap: 10px;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  outline: 1px solid var(--button_color);
  outline-color: var(--button_outline_color);
}

.header__theme-menu-button:active {
  outline: 1px solid currentColor;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.main_header {
  font-family: IBM Plex Mono, monospace, sans-serif;
  font-size: var(--main_header_size);
  font-weight: 700;
  line-height: 95.7px;
  text-align: left;
  color: var(--accent_color);
  text-shadow: 4px 4px 0 var(--mh_shadow_color);
  align-self: center;
  justify-self: center;
  padding-block-end: 18px;
}

.subheader {
  font-family: IBM Plex Mono, monospace, sans-serif; 
  font-size: 18px; 
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  background-color: var(--main_color);
  color: var(--font_header_color);
  align-self: center;
}

.header .subheader {
  margin-block-end: 40px;
}

.main {
  display: grid;
  gap: 50px;
  margin-block-start: 30px;
}

.why,
.what,
.how {
  display: grid;
  gap: 20px;
}

.theme_header {
  font-family: IBM Plex Mono, monospace, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  color: var(--theme_header_color);
}

.why .subheader {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.how .article {
  display: grid;
  gap: 20px;
}

.paragraph {
  font-family: IBM Plex Mono, monospace, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  color: var(--paragraph_font_color);
  margin-block-start: 10px;
}

.subheader_unbold {
  font-family: IBM Plex Mono, monospace, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  color: var(--font_header_color);
  background-color: var(--main_color);
}

.link {
  text-shadow: 2px 2px 0 var(--main_color);
  text-decoration: none;
  color: var(--paragraph_font_color);
}

.link:hover {
  border-bottom: 1px solid currentColor;
}

.link:focus {
  display: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.images {
  display: grid;
  flex-direction: column;
  gap: 10px;
}

.images .subheader {
  margin-block-end: 0px;
}

.image {
  width: 100%;
}

.footer {
  display: grid;
  min-height: 668px;
  height: 100vh;
  margin-block-start: 42px;
  position: relative;
}

.footer::after {
  left: 0px;
}

.footer::before {
  right: 0px;
}

.footer_header {
  font-family: IBM Plex Mono;
  font-size: var(--main_header_size);
  font-weight: 700;
  line-height: 95.7px;
  text-align: center;
  color: var(--accent_color);
  text-shadow: 2px 2px 0 var(--mh_shadow_color);
  justify-self: center;
  align-self: center;
  position: relative;
}

@media (width >= 768px) {
  .page {
    padding: 20px;
  }

  .decorative_sign {
    top: 20px;
    right: 48px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__theme-menu {
    margin-block-start: -24px;
  }

  .main_header {
    justify-self: left;
    align-self: center;
    margin-inline-start: -20px;
    margin-block-start: -20px;
    font-size: var(--main_header_size);
  }

  .header .subheader {
    width: 50%;
    justify-self: right;
    margin-block-start: 3px;
    margin-block-end: 60px;
  }

  .main {
    gap: 80px;
    margin-block-start: 40px;
  }

  .why,
  .how {
    display: grid;
    grid-template-columns: calc(100vw / 3 - 20px) calc((100vw / 3 - 20px) * 2);
    gap: 20px;
    align-self: baseline;
  }

  .why .subheader,
  .what .subheader,
  .how .subheader {
    margin-block-start: 0px;
    margin-block-end: 0;
  }

  .how subheader_unbold:first-of-type {
    margin-block-start: 20px;
  }

  .how .subheader_unbold {
    margin-block-end: 0px;
  }

  .why .paragraph,
  .what .paragraph,
  .how .paragraph {
    margin-block-start: 10px;
  }

  .theme_header {
    margin-block-end: 0px;
  }

  .why .article {
    grid-column: 2/3;
  }
  .header_third {
    grid-column: 2/3;
    align-self: start;
    margin-block-start: 0;
  }

  .paragraph {
    grid-column: 2/3;
    margin-block-end: 0;
  }

  .what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .what .article {
    grid-column: 1/-1;
  }

  .what .header_second {
    margin-block-end: 0;
  }

  .how .header_forth {
    grid-column: 2/3;
  }

  .how .article {
    grid-column: 2/3;
  }

  .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    contain: inline-size;
    min-height: 823px;
  }

  .images .subheader {
    margin-block-end: 0;
    grid-column: 1/-1;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .image:first-of-type {
    min-height: 192px;
    margin-block-start: 0;
  }

  .image:first-of-type,
  .image:nth-child(6) {
    grid-column: span 2;
  }

  .image:nth-child(3),
  .image:nth-child(4) {
    grid-row: span 2;
  }

  .footer {
    min-height: 1024px;
    height: 100%;
    margin-block-start: 60px;
  }

  .footer::before {
    right: 0px;
  }

  .footer::after {
    left: 0px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .main_header {
    font-size: var(--main_header_size);
    line-height: 129.53px;
  }

  .header__theme-menu {
    align-self: flex-start;
    justify-self: center;
    margin-block-start: 0;
    flex-direction: row;
  }

  .header__theme-menu-list {
    flex-direction: row;
    min-width: 230px;
  }

  .what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content auto;
    gap: 20px;
  }

  .what .theme_header {
    grid-column: 1/4;
    max-width: 315px;
    align-self: center;
  }

  .what .subheader {
    margin-block-start: 0;
  }

  .what .article:nth-child(2) {
    grid-column: 1/2;
  }

  .what .article:nth-child(3) {
    grid-column: 2/3;
  }

  .what .article:nth-child(4) {
    grid-column: 3/4;
  }

  .why,
  .how {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-self: baseline;
  }

  .why .article,
  .how .article {
    grid-column: 2/4;
  }

  .how .subheader {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .why .paragraph,
  .what .paragraph {
    margin-block-start: 10px;
  }

  .what .subheader {
    margin-block-end: 0px;
  }

  .subheader_unbold {
    margin-block-end: 0px;
  }

  .footer {
    min-height: 768px;
    font-size: var(--main_header_size);
  }
}
